* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 98vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    position: relative;
    width: 84vw;
    z-index: 1;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

nav select {
    padding: 6px 20px;
    background-color: rgb(0 0 0 / 68%);
    color: white;
    border: 1px solid #ffffff57;
    border-radius: 5px;
}

nav .sign {
    padding: 5px 12px;
    background-color: rgb(250 0 0);
    color: white;
    margin: 9px;
    border-radius: 5px;
    cursor: pointer;
}

nav .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

option {
    background-color: white;
    color: black;
}

.main .box {
    height: 98vh;
    width: 100%;
    opacity: 0.70;
    background-color: black;
    position: absolute;
    top: 0;
}

.main .sponser {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 71vh;
    position: relative;
}

.sponser div:nth-child(1) {
    font-weight: 700;
    font-size: 51px;
    margin: -10px;
}

.sponser div:nth-child(2) {
    font-weight: 700;
    font-size: 51px;
}

.sponser div:nth-child(3) {
    font-weight: 600;
    margin: 10px 0px 23px 0px;
}

.sponser div:nth-child(4) {
    font-size: 14px;
}

.main .mail {
    display: flex;
    justify-content: center;
    bottom: 106px;
    position: relative;
}

.mail input {
    width: 343px;
    padding: 17px;
    background-color: #000000b0;
    border: 1px solid #9e9e9eb3;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.741);
}

.mail .btn {
    padding: 12px;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 23px;
    margin-left: 10px;
    width: 205px;
    border-radius: 4px;
    font-weight: 500;
}

.main .line {
    height: 11px;
    background-color: #80808070;
    position: relative;
    top: 37px;
    z-index: 10;
}

.first {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 74vh;
    gap: 144px;
}

.first>.tct {
    display: flex;
    flex-direction: column;
}

.tct div:nth-child(1) {
    font-size: 48px;
    font-weight: 600;
}


.first img {
    width: 40vw;
    position: relative;
    z-index: 8;
    margin-top: 4vh;
}

.first video {
    position: absolute;
    right: 15vw;
}

.second {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86vw;
    height: 74vh;
}

.second img {
    width: 40vw;
    position: relative;
}

.second>.tct {
    display: flex;
    flex-direction: column;
}

.second .tct div:nth-child(2) {
    font-size: 48px;
    font-weight: 600;
}

.third {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    height: 74vh;
    gap: 144px;
}

.third>.tct {
    display: flex;
    flex-direction: column;
}

.tct div:nth-child(1) {
    font-size: 48px;
    font-weight: 600;
}

.third img {
    width: 40vw;
    position: relative;
    z-index: 8;
    margin-top: 4vh;
}

.third video {
    position: absolute;
    right: 13vw;
    width: 34vw;
}

.faq {
    height: 100vh;
    background: black;
}

.faq h2 {
    text-align: center;
    color: white;
    margin: 9vh;
    margin-bottom: 20px;
    font-size: 48px;
}

.faq>.faqbox {
    display: grid;
    font-size: 24px;
    grid-template-columns: repeat(4, 24vw);
    padding: 18px;
    margin: 14px 17vw;
    background-color: #2d2d2d;
    color: white;
    cursor: pointer;
    transition: all 1s ease-out;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

svg {
    position: relative;
    left: 37vw;
    height: 25px;
    filter: invert(1);
}

.em2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-top: 5vh;
}

.em2 span {
    color: white;
    text-align: center;
    font-size: 16px;
}

.em2 input {
    width: 551px;
    padding: 17px;
    background-color: #000000b0;
    border: 1px solid #9e9e9eb3;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

.em2 .btn {
    padding: 12px;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 23px;
    margin-left: 10px;
    width: 205px;
    border-radius: 4px;
    font-weight: 500;
}

footer {
    margin-top: 88px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer div:first-child {
    color: white;
    max-width: 83vw;
    margin: auto;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 32px;
}

.footer .footer-item {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
    margin: auto;
}

.footer-item a {
    color: rgba(255, 255, 255, 0.7);
    ;
    padding: 6px;
}

.newlan {
    max-width: 84vw;
    margin: 20px auto;
}

footer select {
    padding: 6px 20px;
    background-color: rgb(0 0 0 / 68%);
    color: white;
    border: 1px solid #ffffff57;
    border-radius: 5px;
    max-width: 15vw;
}

.last {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 26px;
    font-size: 14px;
    padding-left: 2px;
    height: 13vh;
}

@media screen and (max-width:1024px) {
    .first video {
        position: absolute;
        right: 10vw;
        width: 31vw;
    }

    .first>.tct {
        width: 36vw;
    }

    .third>.tct {
        display: flex;
        flex-direction: column;
        width: 24vw;
    }

    .third video {
        position: absolute;
        right: 13vw;
        width: 35vw;
    }

}

@media screen and (max-width:800px) {
    .first {
        flex-wrap: wrap;
        gap: 0;
        width: 73vw;
        margin: auto;
        padding-top: 41px;
    }

    .first img {
        width: 40vw;
        position: relative;
        z-index: 8;
        margin-top: 0;
    }

    .first video {
        position: absolute;
        right: 34vw;
        width: 30vw;
        margin-top: 30vh;
    }

    .tct div:nth-child(1) {
        font-size: 36px;
        font-weight: 600;
    }

    .faq>.faqbox {
        display: grid;
        font-size: 14px;
        grid-template-columns: repeat(4, 26vw);
        padding: 18px;
        margin: 14px 14vw;
        background-color: #2d2d2d;
        color: white;
        cursor: pointer;
        transition: all 1s ease-out;
    }

    .em2 input {
        width: 406px;
        padding: 17px;
        background-color: #000000b0;
        border: 1px solid #9e9e9eb3;
        color: white;
        font-size: 16px;
        border-radius: 5px;
    }

    .faq>.faqbox {
        display: grid;
        font-size: 19px;
        grid-template-columns: repeat(4, 35vw);
        padding: 18px;
        margin: 14px 10vw;
        background-color: #2d2d2d;
        color: white;
        cursor: pointer;
        transition: all 1s ease-out;
    }
}

@media screen and (max-width:426px) {
    .main {
        background-image: url(assets/images/bg.jpg);
        height: 107vh;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        width: 124%;
    }

    .main .box {
        height: 100%;
        width: 100%;
        opacity: 0.70;
        background-color: black;
        position: absolute;
        top: 0;
    }

    .main .sponser {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        height: 71vh;
        position: relative;
        width: 103vw;
    }

    .sponser div:nth-child(1) {
        font-weight: 700;
        font-size: 28px;
        margin: -10px;
    }

    .sponser div:nth-child(2) {
        font-weight: 700;
        font-size: 28px;
    }

    .sponser div:nth-child(4) {
        font-size: 11px;
    }

    .main .mail {
        display: flex;
        justify-content: center;
        bottom: 109px;
        position: relative;
        flex-direction: column;
    }

    .mail input {
        width: 268px;
        padding: 17px;
        background-color: #000000b0;
        border: 1px solid #9e9e9eb3;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        margin-left: 6vw;
    }

    .mail .btn {
        padding: 8px;
        background-color: #e50914;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 18px;
        width: 169px;
        border-radius: 4px;
        font-weight: 500;
        margin-left: 32vw;
        margin-top: 2vh;
    }

    nav {
        position: relative;
        width: 86vw;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 12vh;
        margin-left: 38px;
    }

    nav div:first-child img {
        width: 130px;
    }

    .first {
        flex-wrap: wrap;
        gap: 0;
        width: 73vw;
        margin: auto 14vw;
        padding-top: 41px;
    }

    .first video {
        position: absolute;
        right: 58vw;
        width: 30vw;
        margin-top: 44vh;
    }

    .second {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115vw;
        height: 74vh;
        flex-direction: column-reverse;
        margin: auto 5vw;
    }

    .second img {
        width: 42vw;
        position: relative;
        margin-right: 24vw;
    }

    .tct div:nth-child(1) {
        font-size: 30px;
        font-weight: 600;
    }

    .second .tct div:nth-child(2) {
        font-size: 27px;
        font-weight: 600;
    }

    .second .tct div:nth-child(3) {
        font-size: 18px;
    }

    .third {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78vw;
        height: 74vh;
        flex-direction: column;
        margin: auto 12vw;
        padding-top: 7vh;
        gap: 0;
    }

    .third video {
        position: absolute;
        right: 53vw;
        width: 35vw;
        margin-top: 46vh;
    }

    .second .tct{
        width: 68vw;
        margin: auto;
        margin-right: 28vw;
    }

    .faq h2 {
        text-align: center;
        color: white;
        margin: 9vh;
        margin-bottom: 20px;
        font-size: 32px;
        margin-right: 30vw;
    }

    .faq>.faqbox {
        display: grid
;
        font-size: 12px;
        grid-template-columns: repeat(4, 32vw);
        padding: 18px;
        margin: 14px 10vw;
        background-color: #2d2d2d;
        color: white;
        cursor: pointer;
        transition: all 1s ease-out;
        margin-right: 31vw;
    }

    .em2 span {
        color: white;
        text-align: left;
        font-size: 8px;
        margin-right: 21vw;
    }

    .em2 input {
        width: 211px;
        padding: 11px;
        background-color: #000000b0;
        border: 1px solid #9e9e9eb3;
        color: white;
        font-size: 12px;
        border-radius: 5px;
}


.em2 .btn{
    padding: 11px;
background-color: #e50914;
color: white;
border: none;
cursor: pointer;
font-size: 12px;
margin-left: 61px;
width: 103px;
border-radius: 4px;
font-weight: 500;
}

.em2 .lst{
    display: flex
    ;
            flex-direction: column;
            gap: 9px;
            width: 80vw;
}

.footer {
    display: grid
    ;
            grid-template-columns: repeat(2, 1fr);
            margin-right: 24vw;
}

footer select {
    max-width: 30vw;
}
}